@import url("https://fonts.googleapis.com/css?family=Great+Vibes|Lato:300,400,700|Roboto:300,400,500");
* {
  margin: 0;
  padding: 0; }

button {
  padding: 1.2em;
  background-color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-size: .8rem;
  font-weight: 900;
  color: #DF001F;
  border-radius: 3em;
  border: none; }

.discover__button {
  width: 15em;
  margin-top: 2em;
  color: #FFFFFF;
  background-color: #DF001F; }

.members__title--column,
.conserts__title--column,
.conserts__latest--title--column,
.founder__title--column {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: #333333;
  font-size: 2.5rem;
  font-family: "Lato", sans-serif; }

.members__title--subtitle--column,
.conserts__title--subtitle--column,
.conserts__videos--subtitle--column,
.founder__subtitle-column {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-top: 1.5em;
  color: #DF001F;
  font-size: 2rem;
  font-family: "Great Vibes", cursive; }

.menu {
  width: 100vw;
  height: 12vh;
  background-color: #DF001F;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center; }
  .menu .logo {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover; }
    .menu .logo .logo__img--title {
      font-family: "Great Vibes", cursive;
      color: #FFFFFF;
      font-size: calc(32px + (36 - 32) * (100vw - 300px) / (640 - 300));
      text-align: center; }
  .menu .menu__icon {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #FFFFFF; }
  .menu .menu__navigation {
    list-style: none;
    display: none;
    position: fixed;
    flex-direction: column;
    font-size: 1rem;
    font-family: "Lato", sans-serif; }
    .menu .menu__navigation li {
      padding: 10px;
      font-family: "Lato", sans-serif;
      color: #FFFFFF;
      font-size: 0.9rem; }

@media screen and (min-width: 1100px) {
  .menu__navigation {
    display: flex;
    flex-direction: row;
    position: fixed; }

  .menu__icon {
    display: none; } }
.discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-image: url("../images/photo-guitar.jpeg");
  background-size: cover;
  background-position: center; }
  .discover .discover__title {
    color: #DF001F;
    font-size: 3.5rem;
    font-weight: bold; }
  .discover .discover__paragraph {
    color: #FFFFFF;
    font-size: 2.5rem;
    font-family: "Great Vibes", cursive; }

.members {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-gap: 1em;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 2.5em; }
  .members .members__vocal {
    background-image: url("../images/vocal.jpg");
    background-size: cover;
    background-position: center; }
  .members .members__drum {
    background-image: url("../images/drum.jpg");
    background-size: cover;
    background-position: center; }
  .members .members__guiter {
    background-image: url("../images/guiter.jpg");
    background-size: cover;
    background-position: center; }

@media screen and (min-width: 300px) {
  .members {
    grid-template-columns: 1fr; }
    .members .members__set {
      display: none; } }
@media screen and (min-width: 620px) {
  .members {
    grid-template-columns: repeat(2, 1fr); }
    .members .members__vocal {
      grid-column: 1 / 2;
      grid-row: 2 / 3; }
    .members .members__drum {
      grid-column: 2 / 3;
      grid-row: 2 / 3; }
    .members .members__guiter {
      display: none; } }
@media screen and (min-width: 940px) {
  .members {
    grid-template-columns: repeat(3, 1fr); }
    .members .members__set {
      grid-column: 3 / 4; }
    .members .members__vocal {
      grid-column: 1 / 2;
      grid-row: 2 / 3; }
    .members .members__drum {
      grid-column: 2 / 3;
      grid-row: 2 / 3; }
    .members .members__guiter {
      display: block;
      grid-column: 3 / 4;
      grid-row: 2 / 3; } }
.conserts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr;
  grid-gap: 1em;
  max-width: 75%;
  margin: 3em auto; }
  .conserts .conserts__date--infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .conserts .conserts__date--infos .conserts__date--title {
      font-size: 1.5rem;
      font-family: "Lato", sans-serif;
      justify-content: flex-start; }
    .conserts .conserts__date--infos p {
      font-size: 0.8rem;
      font-family: "Lato", sans-serif;
      margin-top: 1em; }
  .conserts .conserts__video--player {
    background-image: url("../images/video-photo.jpg");
    background-size: cover;
    background-position: center; }
  .conserts .conserts__date--consert {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-family: "Lato", sans-serif;
    color: #FFFFFF;
    background-image: url("../images/date-photo.jpg");
    background-size: cover;
    background-position: center; }

@media screen and (min-width: 300px) {
  .conserts {
    grid-template-columns: 1fr 3fr; }
    .conserts .conserts__date--title, .conserts p {
      grid-column: 1 / 3; }
    .conserts .conserts__latest--title--column,
    .conserts .conserts__videos--subtitle--column,
    .conserts .set__set--video {
      display: none; } }
@media screen and (min-width: 940px) {
  .conserts {
    grid-template-columns: 1fr 2fr 2fr; }
    .conserts .conserts__date--consert {
      grid-column: 1 / 2; }
    .conserts .conserts__latest--title--column,
    .conserts .conserts__videos--subtitle--column {
      display: block;
      grid-column: 3 / 4;
      justify-content: flex-end; } }
.founder {
  display: grid;
  max-width: 75%;
  height: 40vh;
  margin: 0 auto;
  background-image: url("../images/founder-photo.jpg");
  background-position: center;
  background-size: cover; }
  .founder .founder__history--title,
  .founder .founder__history--paragraph {
    color: #FFFFFF;
    font-family: "Lato", sans-serif; }
  .founder .founder__history--button {
    width: 15em; }
  .founder .founder__history {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    margin-left: 1em; }

@media screen and (min-width: 300px) {
  .founder .founder__history--title {
    font-size: 1.5rem; }
  .founder .founder__history--paragraph {
    font-size: 0.8rem;
    margin-top: 1em; } }
.founder__popular--instagram {
  display: grid;
  grid-template-rows: 3fr 1fr;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 3em; }
  .founder__popular--instagram .founder__popular--songs .founder__subtitle-column {
    margin-top: 0; }
  .founder__popular--instagram .founder__title--song {
    font-size: 0.8rem;
    font-family: "Lato", sans-serif;
    margin-top: 2em; }
  .founder__popular--instagram figure {
    width: 7em;
    height: 6em;
    margin-top: 1em;
    justify-self: center; }

@media screen and (min-width: 300px) {
  .founder__popular--instagram {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; }
    .founder__popular--instagram .founder__instagram {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto 1fr 1fr;
      grid-row: 2 / 3; }
      .founder__popular--instagram .founder__instagram .founder__title--column,
      .founder__popular--instagram .founder__instagram .founder__subtitle--column {
        grid-column: 1 / 3;
        grid-row: 1 / 2; } }
@media screen and (min-width: 540px) {
  .founder__popular--instagram {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; }
    .founder__popular--instagram .founder__instagram {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin-top: 0; } }
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 75%;
  height: 30vh;
  background-image: url("../images/app-photo.jpg");
  background-size: cover;
  margin: 0 auto;
  margin-top: 2em; }
  .app .app__paragraph {
    font-size: 3vw;
    font-family: "Lato", sans-serif;
    color: #FFFFFF;
    margin-top: 1em; }
  .app .app__title {
    font-size: 4vw;
    font-family: "Lato", sans-serif;
    color: #FFFFFF; }

@media screen and (min-width: 300px) {
  .app .app__title {
    font-size: calc(14px + (20 - 14) * (100vw - 300px) / (700 - 300)); }
  .app .app__paragraph {
    text-align: center;
    font-size: calc(10px + (12 - 10) * (100vw - 300px) / (700 - 300)); } }
.subscribe {
  display: grid;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 3em;
  align-items: center;
  justify-content: center; }
  .subscribe .subscribe__title {
    font-size: 2vw;
    color: #333333; }
    .subscribe .subscribe__title::after {
      content: '';
      height: 4px;
      width: 100%;
      margin-top: 0.3em;
      background-color: #333333;
      display: block; }

@media screen and (min-width: 300px) {
  .subscribe .subscribe__title {
    font-size: calc(18px + (20 - 18) * (100vw - 300px) / (640 - 300)); } }
.footer .footer__navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em 0 2em; }
  .footer .footer__navigation li {
    display: inline-block;
    font-size: calc(12px + (14 - 12) * (100vw - 300px) / (640 - 300));
    color: #333333;
    font-family: "Lato", sans-serif; }
.footer .footer_paragraph {
  font-size: calc(10px + (12 - 10) * (100vw - 300px) / (640 - 300));
  color: #333333;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-bottom: 2em; }
  .footer .footer_paragraph span {
    font-family: "Great Vibes", cursive;
    color: #DF001F;
    font-size: calc(12px + (14 - 12) * (100vw - 300px) / (640 - 300)); }
.footer::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-top: 3em;
  opacity: 0.1; }

.set__set--video {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }
  .set__set--video .set__set--left,
  .set__set--video .set__set--right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DF001F;
    width: 4.5vw;
    height: 5.5vh;
    font-size: 1.5em;
    margin-left: 0.1em;
    color: #FFFFFF; }

@media screen and (min-width: 300px) {
  .members__set,
  .set__set--video {
    display: none; } }
@media screen and (min-width: 940px) {
  .members__set,
  .set__set--video {
    grid-column: 3 / 4;
    grid-row: 1 / 2; } }
.founder__photo--john-towner {
  background-image: url("../images/john-towner.jpg");
  background-size: cover;
  background-position: center; }

.founder__photo--mountain {
  background-image: url("../images/mountain.jpg");
  background-size: cover;
  background-position: center; }

.founder__photo--wild {
  background-image: url("../images/wild.jpg");
  background-size: cover;
  background-position: center; }

.founder__photo--vacation {
  background-image: url("../images/vacation.jpg");
  background-size: cover;
  background-position: center; }

/*# sourceMappingURL=main.css.map */
