@import url("https://fonts.googleapis.com/css?family=Great+Vibes|Lato:300,400,700|Roboto:300,400,500");
* {
  margin: 0;
  padding: 0; }

button {
  padding: 1.2em;
  background-color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-size: .8rem;
  font-weight: 900;
  color: #DF001F;
  border-radius: 3em;
  border: none; }

.discover-button {
  width: 15em;
  margin-top: 2em;
  color: #FFFFFF;
  background-color: #DF001F; }

.title-column {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: #333333;
  font-size: 2.5rem;
  font-family: "Lato", sans-serif; }

.subtitle-column {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-top: 1.5em;
  color: #DF001F;
  font-size: 2rem;
  font-family: "Great Vibes", cursive; }

.menu {
  width: 100vw;
  height: 12vh;
  background-color: #DF001F;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center; }
  .menu .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover; }
    .menu .logo .logo-title {
      font-family: "Great Vibes", cursive;
      color: #FFFFFF;
      font-size: 3rem;
      text-align: center; }
  .menu .navigation {
    display: flex;
    align-content: center;
    justify-content: center; }
    .menu .navigation .fa {
      font-size: 2rem;
      color: #FFFFFF; }
      @media screen and (min-width: 1100px) {
        .menu .navigation .fa {
          display: none; } }
    .menu .navigation li {
      display: none; }
      @media screen and (min-width: 1100px) {
        .menu .navigation li {
          display: inline-block;
          padding-left: 0.9em;
          font-size: 0.9rem;
          font-family: "Lato", sans-serif;
          color: #FFFFFF; } }
  @media screen and (min-width: 300px) {
    .menu .social-medias {
      display: none; } }
  @media screen and (min-width: 1100px) {
    .menu .social-medias {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 2fr;
      align-items: center;
      max-width: 85%;
      justify-self: center; }
      .menu .social-medias .facebook p,
      .menu .social-medias .twitter p,
      .menu .social-medias .gplus p {
        font-family: "Lato", sans-serif;
        color: #FFFFFF;
        display: inline-block;
        margin-left: 1em;
        font-size: .8rem; }
      .menu .social-medias .facebook .fa,
      .menu .social-medias .twitter .fa,
      .menu .social-medias .gplus .fa {
        font-size: 1rem;
        color: #FFFFFF; }
      .menu .social-medias .purchase-text {
        margin-left: 1em; } }

.discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-image: url("../images/photo-guitar.jpeg");
  background-size: cover;
  background-position: center; }
  .discover h1 {
    color: #DF001F;
    font-size: 3.5rem;
    font-weight: bold; }
  .discover p {
    color: #FFFFFF;
    font-size: 2.5rem;
    font-family: "Great Vibes", cursive; }

.members {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-gap: 1em;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 2.5em; }
  .members .vocal {
    background-image: url("../images/vocal.jpg");
    background-size: cover;
    background-position: center; }
  .members .drum {
    background-image: url("../images/drum.jpg");
    background-size: cover;
    background-position: center; }
  .members .guiter {
    background-image: url("../images/guiter.jpg");
    background-size: cover;
    background-position: center; }

@media screen and (min-width: 300px) {
  .members {
    grid-template-columns: 1fr; }
    .members .set-members {
      display: none; } }
@media screen and (min-width: 620px) {
  .members {
    grid-template-columns: repeat(2, 1fr); }
    .members .vocal {
      grid-column: 1 / 2;
      grid-row: 2 / 3; }
    .members .drum {
      grid-column: 2 / 3;
      grid-row: 2 / 3; }
    .members .guiter {
      display: none; } }
@media screen and (min-width: 940px) {
  .members {
    grid-template-columns: repeat(3, 1fr); }
    .members .set-members {
      grid-column: 3 / 4; }
    .members .vocal {
      grid-column: 1 / 2;
      grid-row: 2 / 3; }
    .members .drum {
      grid-column: 2 / 3;
      grid-row: 2 / 3; }
    .members .guiter {
      display: block;
      grid-column: 3 / 4;
      grid-row: 2 / 3; } }
.conserts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr;
  grid-gap: 1em;
  max-width: 75%;
  margin: 3em auto; }
  .conserts aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .conserts aside p {
      font-size: 0.8rem;
      font-family: "Lato", sans-serif;
      margin-top: 1em; }
    .conserts aside h1 {
      font-size: 1.5rem;
      font-family: "Lato", sans-serif;
      justify-content: flex-start; }
  .conserts .video-player {
    background-image: url("../images/video-photo.jpg");
    background-size: cover;
    background-position: center; }
  .conserts .date-consert {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-family: "Lato", sans-serif;
    color: #FFFFFF;
    background-image: url("../images/date-photo.jpg");
    background-size: cover;
    background-position: center; }

@media screen and (min-width: 300px) {
  .conserts {
    grid-template-columns: 1fr 3fr; }
    .conserts h1, .conserts p {
      grid-column: 1 / 3; }
    .conserts .latest,
    .conserts .videos,
    .conserts .set-videos {
      display: none; } }
@media screen and (min-width: 940px) {
  .conserts {
    grid-template-columns: 1fr 2fr 2fr; }
    .conserts .date-consert {
      grid-column: 1 / 2; }
    .conserts .latest,
    .conserts .videos {
      display: block;
      grid-column: 3 / 4;
      justify-content: flex-end; } }
.founder {
  display: grid;
  max-width: 75%;
  height: 40vh;
  margin: 0 auto;
  background-image: url("../images/founder-photo.jpg");
  background-position: center;
  background-size: cover; }
  .founder h1,
  .founder p {
    color: #FFFFFF;
    font-family: "Lato", sans-serif; }
  .founder button {
    width: 15em; }
  .founder .founder-history {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    margin-left: 1em; }

@media screen and (min-width: 300px) {
  .founder h1 {
    font-size: 1.5rem; }
  .founder p {
    font-size: 0.8rem;
    margin-top: 1em; } }
.popular-instagram {
  display: grid;
  grid-template-rows: 3fr 1fr;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 3em; }
  .popular-instagram .popular-songs .subtitle-column {
    margin-top: 0; }
  .popular-instagram .title-song {
    font-size: 0.8rem;
    font-family: "Lato", sans-serif;
    margin-top: 2em; }
  .popular-instagram figure {
    width: 7em;
    height: 6em;
    margin-top: 1em;
    justify-self: center; }

@media screen and (min-width: 300px) {
  .popular-instagram {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; }
    .popular-instagram .instagram {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto 1fr 1fr;
      grid-row: 2 / 3; }
      .popular-instagram .instagram .title-column,
      .popular-instagram .instagram .subtitle-column {
        grid-column: 1 / 3;
        grid-row: 1 / 2; } }
@media screen and (min-width: 540px) {
  .popular-instagram {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; }
    .popular-instagram .instagram {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin-top: 0; } }
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 75%;
  height: 30vh;
  background-image: url("../images/app-photo.jpg");
  background-size: cover;
  margin: 0 auto;
  margin-top: 3em; }
  .app p {
    font-size: 3vw;
    font-family: "Lato", sans-serif;
    color: #FFFFFF;
    margin-top: 1em; }
  .app h1 {
    font-size: 4vw;
    font-family: "Lato", sans-serif;
    color: #FFFFFF; }

@media screen and (min-width: 700px) {
  .app h1 {
    font-size: 3vw; }
  .app p {
    font-size: 2vw; } }
.set {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }
  .set .set-left,
  .set .set-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DF001F;
    width: 4.5vw;
    height: 5.5vh;
    font-size: 1.5em;
    margin-left: 0.1em;
    color: #FFFFFF; }

@media screen and (min-width: 300px) {
  .set-members,
  .set-video {
    display: none; } }
@media screen and (min-width: 940px) {
  .set-members,
  .set-video {
    grid-column: 3 / 4;
    grid-row: 1 / 2; } }
.john-towner {
  background-image: url("../images/john-towner.jpg");
  background-size: cover;
  background-position: center; }

.mountain {
  background-image: url("../images/mountain.jpg");
  background-size: cover;
  background-position: center; }

.wild {
  background-image: url("../images/wild.jpg");
  background-size: cover;
  background-position: center; }

.vacation {
  background-image: url("../images/vacation.jpg");
  background-size: cover;
  background-position: center; }

.app-store,
.play-store {
  width: 21%;
  height: 24%; }

.app-store {
  background-image: url("../images/app-store-button.jpg");
  background-size: cover; }

.play-store {
  background-image: url("../images/google-play-button.jpg");
  background-size: cover; }

/*# sourceMappingURL=main.css.map */
