.founder__photo--john-towner {
    background-image: url('../images/john-towner.jpg');
    background-size: cover;
    background-position: center;
}

.founder__photo--mountain {
    background-image: url('../images/mountain.jpg');
    background-size: cover;
    background-position: center;
}

.founder__photo--wild {
    background-image: url('../images/wild.jpg');
    background-size: cover;
    background-position: center;
}

.founder__photo--vacation {
    background-image: url('../images/vacation.jpg');
    background-size: cover;
    background-position: center;
}
