.john-towner {
    background-image: url('../images/john-towner.jpg');
    background-size: cover;
    background-position: center;
}

.mountain {
    background-image: url('../images/mountain.jpg');
    background-size: cover;
    background-position: center;
}

.wild {
    background-image: url('../images/wild.jpg');
    background-size: cover;
    background-position: center;
}

.vacation {
    background-image: url('../images/vacation.jpg');
    background-size: cover;
    background-position: center;
}
