.set {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .set-left,
    .set-right {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $main-red;
        width: 4.5vw;
        height: 5.5vh;
        font-size: 1.5em;
        margin-left: 0.1em;
        color: $white;
    }
}
