.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 75%;
    height: 30vh;
    background-image: url('../images/app-photo.jpg');
    background-size: cover;
    margin: 0 auto;
    margin-top: 2em;

    p {
        font-size: 3vw;
        font-family: $ff-lato;
        color: $white;
        margin-top: 1em;
    }

    h1 {
        font-size: 4vw;
        font-family: $ff-lato;
        color: $white;
    }
}

@media screen and (min-width: 300px) {
    .app {
        h1 {
            font-size: calc(14px + (20 - 14) * (100vw - 300px) / (700 - 300));
        }

        p {
            text-align: center;
            font-size: calc(10px + (12 - 10) * (100vw - 300px) / (700 - 300));
            // min-fs + (max-fs - min-fs) * (100vw - min-ss) / (max-ss - min-ss)
            // min-fs = min-font-size;
            // max-fs = max-font-size;
            // min-ss = min-screen-size;
            // max-ss = max-screen-size;
        }
    }
}
