.discover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-image: url('../images/photo-guitar.jpeg');
    background-size: cover;
    background-position: center;

    .discover__title {
        color: $main-red;
        font-size: 3.5rem;
        font-weight: bold;
    }

    .discover__paragraph {
        color: $white;
        font-size: 2.5rem;
        font-family: $ff-great;
    }
}
