.founder {
    display: grid;
    max-width: 75%;
    height: 40vh;
    margin: 0 auto;
    background-image: url('../images/founder-photo.jpg');
    background-position: center;
    background-size: cover;

    h1,
    p {
        color: $white;
        font-family: $ff-lato;
    }

    button {
        width: 15em;
    }

    .founder-history {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1em;
        margin-left: 1em;
    }
}

@media screen and (min-width: 300px) {
    .founder {
        h1 {
            font-size: 1.5rem;
        }

        p {
            font-size: 0.8rem;
            margin-top: 1em;
        }
    }
}
