.members {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-gap: 1em;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 2.5em;

    .vocal {
        background-image: url('../images/vocal.jpg');
        background-size: cover;
        background-position: center;
    }

    .drum {
        background-image: url('../images/drum.jpg');
        background-size: cover;
        background-position: center;
    }

    .guiter {
        background-image: url('../images/guiter.jpg');
        background-size: cover;
        background-position: center;
    }
}

@media screen and (min-width: 300px) {
    .members {
        grid-template-columns: 1fr;

        .set-members {
            display: none;
        }
    }
}

@media screen and (min-width: 620px) {
    .members {
        grid-template-columns: repeat(2, 1fr);

        .vocal {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        .drum {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        .guiter {
            display: none;
        }
    }
}

@media screen and (min-width: 940px) {
    .members {
        grid-template-columns: repeat(3, 1fr);

        .set-members {
            grid-column: 3 / 4;
        }

        .vocal {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        .drum {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        .guiter {
            display: block;
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }
    }
}
