.popular-instagram {
    display: grid;
    grid-template-rows: 3fr 1fr;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 3em;

    .popular-songs {
        .subtitle-column {
            margin-top: 0;
        }
    }

    .title-song {
        font-size: 0.8rem;
        font-family: $ff-lato;
        margin-top: 2em;
    }

    figure {
        width: 7em;
        height: 6em;
        margin-top: 1em;
        justify-self: center;
    }
}

@media screen and (min-width: 300px) {
    .popular-instagram {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        .instagram {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto 1fr 1fr;
            grid-row: 2 / 3;
            
            .title-column,
            .subtitle-column {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
            }
        }
    }
}

@media screen and (min-width: 540px) {
    .popular-instagram {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

        .instagram {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            margin-top: 0;
        }
    }
}
