.popular-instagram {
    display: grid;
    max-width: 75%;
    height: 45vh;
    margin: 0 auto;
    margin-top: 3em;

    .popular-songs {
        .subtitle-column {
            margin-top: 0;
        }
    }

    figure {
        width: 7em;
        height: 7em;
        margin-top: 1em;
    }

    .john-towner {
        background-image: url('../images/john-towner.jpg');
        background-size: cover;
        background-position: center;
    }

    .mountain {
        background-image: url('../images/mountain.jpg');
        background-size: cover;
        background-position: center;
    }

    .wild {
        background-image: url('../images/wild.jpg');
        background-size: cover;
        background-position: center;
    }

    .vacation {
        background-image: url('../images/vacation.jpg');
        background-size: cover;
        background-position: center;
    }
}

@media screen and (min-width: 300px) {
    .popular-instagram {
        .instagram {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            margin-top: 3em;

            .title-column,
            .subtitle-column {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
            }
        }

        .title-song {
            font-size: 0.8rem;
            font-family: $ff-lato;
            margin-top: 2em;
        }
    }
}
